.entradas{
    width: 402%;
    margin: 15px 3;
}

input[type=text]/*Aplica a formatacao seguinte a input*/
 {
    width: 20%;/*largura de cada input*/
    padding-left: 10px; /*alinha texto na caixa, à esquerda*/
    height: 30px;/*altura da caixa*/
    border-radius: 15px;/*arredonda as bordas inputs/textareas*/
    border: 3px solid #ccc; /*bordas grossas input/textarea*/
    outline: none;

}

textarea{
    line-height: 20px; /*aplica, de fato, no textarea*/
    padding: 10px;
    width: 98%;
    resize: none;
    position:relative;
    top:29%;
    height:80px;
    border-radius: 15px;/*arredonda as bordas inputs/textareas*/
    border: 3px solid #ccc; /*bordas grossas input/textarea*/
    outline: none;
}

input[type=submit],
button[type=button],
input[type=reset]
{
    display: block;
    background-color:#ccc;
    height: 35px;
    width: 150px;
    border: none;
    outline: 0;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;/*arredonda os inputs*/
    float:left;

}


input {
    background-color: white; /*todos os inputs da pagina*/
    border-radius: 15px;/*arredonda os inputs*/

}

h2 {
  border: 2px solid #D3D3D3;/*caixa em volta do titulo*/
  padding: 30px;/*largura da caixa em volta do titulo*/
  border-radius: 15px;/*arredonda os inputs*/
}

fieldset /*caixa em volta do input e textarea*/
{
  width:1100px;
  height:300px;
  background-color:#FFF0F5;
  border-radius: 15px;/*arredonda as bordas area principal*/
}

botoes {
display: inline-block;
background-color:#ccc;
height: 35px;
width: 150px;
cursor: pointer;
border-radius: 15px;/*arredonda os inputs*/
text-align: center;

}
