.entradas {/*inputs das alternativas*/
    width: 397%;
    margin-left: 40px;
}

input[type=text]/*Aplica a formatacao seguinte a input*/
 {
    width: 22%;/*largura de cada input*/
    padding-left: 10px; /*alinha texto na caixa, à esquerda*/
    height: 30px;/*altura da caixa*/
    border-radius: 15px;/*arredonda as bordas inputs/textareas*/
    border: 3px solid #ccc; /*bordas grossas inputs*/
    outline: none;

}

.form-control{
    line-height: 20px; /*aplica, de fato, no textarea*/
    padding: 10px;
    width: 100%;
    resize: none;
    position:relative;
    top:29%;
    height:80px;
    border-radius: 15px;/*arredonda as bordas inputs/textareas*/
    border: 3px solid #ccc; /*bordas grossas input/textarea*/
    outline: none;
}

.form-control2{
    line-height: 20px; /*aplica, de fato, no textarea*/
    padding: 10px;
    width: 90%;
    resize: none;
    position:relative;
    top:29%;
    height:80px;
    border-radius: 15px;/*arredonda as bordas inputs/textareas*/
    border: 3px solid #ccc; /*bordas grossas input/textarea*/
    outline: none;
    margin-left: 40px;
}

button[type=button],
input[type=reset]
{
   background-color:#ccc;
      height: 35px;
      width: 150px;
      border: none;/*tira as bordas*/
      cursor: pointer;
      border-radius: 15px;/*arredonda os botoes*/
      margin: 15px; /*margem vertical*/
      text-align: center;

}

input {
    background-color: white; /*todos os inputs da pagina*/
    border-radius: 15px;/*arredonda os inputs*/


}

h2 {
    border: 3px solid #D3D3D3;/*caixa em volta do titulo*/
    padding: 30px;/*largura da caixa em volta do titulo*/
    border-radius: 15px;/*arredonda os inputs*/
    margin: 15px;
}

fieldset /*caixa em volta do input e textarea*/
{
    width:90%;
    height:300px;
    background-color:#FFF0F5;
    border-radius: 15px;/*arredonda as bordas area principal*/
    border: 3px solid #ccc;
    margin: 45px;
}

.inputbda {
    text-align: center;/*centraliza os inputs*/
    margin: 15px;
}

.link {
    margin: 15px;
}

.botoes{
    text-align: center;/*centraliza os inputs*/
}

