    h1 {
        width: 99%;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: white;
        font-size: 30px;
    }

    body, html{
          font-family: Arial; Helvetica, sans-serif;
          background-image: linear-gradient(45deg, cyan, black);
          height: 100%;
          background-repeat: no-repeat;
          background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));

   	}
    div{
          background-color: rgba(0,255,0,0.3);
          position: absolute; /*Restringe à área da div aos elementos dentro dela. */
          top: 50%;
          right: 30%;
          left: 50%;
          down: 50%;
          transform: translate(-50%,-50%); /*-Posiciona todo o quadro no meio da pagina*/
          padding: 20px; /*distancia entre os elementos e a borda*/
          border-radius: 10px;
          color: white;
          width: 250px;
    }
    input{
      padding: 10px;
      border: none;
      outline: none;
      font-size: 15px;
      border-radius: 10px;
      width: 90%;
      color: white;

    }
    button{
      background-color: dodgerblue;
      border: none;
      outline: none;
      padding: 10px;
      width: 98%;
      border-radius: 10px;
      color: white;
      font-size: 15px;
    }
    button:hover {
    background-color: deepskyblue;
    }
    .field { /*https://bootsnipp.com/snippets/P3OB7 */
    color: red;
    }
