h1{
color: red;
}

textarea{
color: red;
}

form {
    width: 800px;
    padding: 30px;
    border: 1px solid ##ccc;

}

input[type=text] {/*aplica em tudo. nao entendi*/
    width: 20%;/*largura de cada caixa*/
    padding-left: 10px; /*alinha texto na caixa, à esquerda*/
    height: 30px;/*altura da caixa*/
    line-height: 3px;/**/
    border-radius: 15px;
    border: 3px solid #ccc;
    outline: none;
}
button[type=button]
{
display: block;
background-color:#ccc;
height: 35px;
width: 150px;
border: none;
outline: 0;
cursor: pointer;
margin: 1 auto;
text-align: center;
}