    body{
          font-family: Arial; Helvetica, sans-serif;
          background-image: linear-gradient(45deg, cyan, black);
   	}
    div{
          background-color: rgba(0,255,0,0.3);
          position: absolute; /*Restringe à área da div aos elementos dentro dela. */
          top: 50%;
          right: 31%;
          left: 50%;
          down: 50%;
          transform: translate(-50%,-50%); /*-Posiciona todo o quadro no meio da pagina*/
          padding: 20px; /*distancia entre os elementos e a borda*/
          border-radius: 10px;
          color: white;
    }
    input{
      padding: 15px;
      border: none;
      outline: none;
      font-size: 15px;
      border-radius: 10px;

    }
    button{
      background-color: dodgerblue;
      border: none;
      padding: 15px;
      width: 100%;
      border-radius: 10px;
      color: white;
      font-size: 15px;
    }
    button:hover {
    background-color: deepskyblue;
    }
    .field { /* */
    color: red;
    }
