<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/cadastro.css">
        <title>Página de Cadastro</title>
    </head>
    <body>
        <div class="area">
            <form id="formulario autocomplete="off">
                <fieldset>
                    <h2><center> Página de Cadastro de Questões</center></h2>
                    <div class="field">
                        <div class="inputbda">
                        <input type="text" name="banca" placeholder="Banca">
                        <input type="text" name="disciplina" placeholder="Disciplina">
                        <input type="text" name="ano" placeholder="Ano"><br><br>
                        <textarea name="mensagem" id="mensagem" required placeholder="Digite o texto da questão"></textarea>
                        </div>
                    </div>
                </fieldset>
        </div><br>

        <div class="entradas">
              A) <input type="radio" name="a" value="a"><input type="text" name="a" placeholder="Digite o texto da alternativa A"/><br><br>
              B) <input type="radio" name="a" value="b"><input type="text" name="b" placeholder="Digite o texto da alternativa B"/><br><br>
              C) <input type="radio" name="a" value="c"><input type="text" name="c" placeholder="Digite o texto da alternativa C"/><br><br>
              D) <input type="radio" name="a" value="d"><input type="text" name="d" placeholder="Digite o texto da alternativa D"/><br><br>
              E) <input type="radio" name="a" value="e"><input type="text" name="e" placeholder="Digite o texto da alternativa E"/><br><br>
        </div><br>
        <textarea class="form-control" rows="5" id="comment" placeholder="Digite a justificativa para a resposta da questão"></textarea>

        <div class="botoes">
              <button type="button" class="btn btn-primary">Cadastrar</button>
              <input type="reset" class="btn btn-danger"/>
              <button type="button" class="btn btn-secondary">Estatísticas</button><br><br>
        </div>
        <div class="link">
        <a href="http://localhost:63342/fullstack/templates/resolucao.html" class="link-primary">Ir para Resolução de Questões.</a>
        </div>
        </form>

    </body>
</html>