<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Autenticação</title>
  <link th:href="@{/styles/login.css}" rel="stylesheet" />
</head>
<body>
    <div class = "login">
        <h1>Login</h1>
        <p th:if="${loginError}" class="error">Usuário ou senha errados!</p>
        <form th:action="@{/login}" method="post" th:object="${autentica}">
            <input type="text" id="username" class="field" name="email" autofocus="autofocus" placeholder="Usuário" /> <br />
            <br></br>
            <input type="password" id="password" class="field" name="senha" placeholder="Senha" /> <br />
            <br><br>
            <button>Enviar</button>
        </form>
    </div>
</body>
</html>