<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/resolucao.css">
    <title>Página de Resolução de Questões</title>

</head>
<body>
<div class="area">
<form id="formulario autocomplete="off"/>
    <fieldset>
        <h2><center>Página de Resolução de Questões</center></h2>
        <hr>
        <input type="text" name="pesquisar", placeholder="Pesquisar"/>
        <input type="text" name="banca", placeholder="Banca"/>
        <input type="text" name="disciplina" placeholder="Disciplina"/>
        <input type="text" name="ano" placeholder="Ano"/><br><br>
        <button type="button">Filtrar</button>
        <button type="button">Gráficos</button>
    </fieldset>
</form>
</div>
</body>
</html>