<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/resolucao.css">
    <title>Página de Resolução de Questões</title>

</head>
<body>
<form>
    <div>
        <h2><center>Página de Resolução de Questões</center></h2>
        <input type="text" name="pesquisar", placeholder="Pesquisar"/>
        <input type="text" name="disciplina" placeholder="Disciplina"/>
        <input type="text" name="ano" placeholder="Ano"/>
    </div>
    <div><br><br>
        <button type="button">Filtrar</button>
    </div>
</form>
</body>

</html>